<a href="#!/login" class="btn btn-link btn-lg"><h3>Logout</h3></a>
<div class="add">
<button (click)="redirect()">Add</button>
</div>
<div class="container">
    <h2>WorkOut List </h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Workout Id</div>
        <div class="col col-1">Title</div>
        <div class="col col-3">Calories Burnt Per Unit Time</div>
        <div class="col col-4">Unit Time</div>
      </li>
      <li class="table-row" *ngFor="let workout of workoutList; let i = index" (click)="WorkoutTxnredirect(i)" [class.active]="i == selectedRow">
        <div class="col col-1" data-label="Workout Id">{{workout[0]}}</div>
        <div class="col col-2" data-label="Title">{{workout[2]}}</div>
        <div class="col col-3" data-label="Calories Burnt Per Unit Time">{{workout[1]}}</div>
        <div class="col col-4" data-label="Unit Time">{{workout[3]}}</div>
      </li>
    </ul>
  </div>