<div class="space">
    <div id="logo"> 
    
        <h1><i>WorkoutTXN</i></h1>
      </div> 
      <section class="stark-login">
        
          <form name="form" (ngSubmit)="f.form.valid && createWorkoutTxn()" #f="ngForm" novalidate>	
              <div id="fade-box">
                  <div class="form-group" >
                      <h5><label for="startTime">Start Time</label></h5>
                      <dl-date-time-picker ng-model="myDate" datetime-model="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="workoutTxn.startTime" [ngModelOptions]="{standalone: true}"></dl-date-time-picker>
                   </div>
               <div class="form-group"> 
                 <input type="text" class="form-control" [(ngModel)]="workoutTxn.startTime" [ngModelOptions]="{standalone: true}">
              </div>
               
               <div class="form-group" >
                  <h5><label for="stopTime">End Time </label></h5>
                  <dl-date-time-picker ng-model="myDate" datetime-model="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="workoutTxn.stopTime" [ngModelOptions]="{standalone: true}"></dl-date-time-picker>
              </div>
              <div class="form-group" >
                  <input type="text" class="form-control" [(ngModel)]="workoutTxn.stopTime" [ngModelOptions]="{standalone: true}">
             
                  </div>
           
               <button>Save</button> 
                    <a  [routerLink]="['/workoutTxn']" >Cancel</a>
                  </div>
                 </form>
            <div class="hexagons">
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <span>&#x2B22;</span>
                <br>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <span>&#x2B22;</span>
                  <br>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span> 
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    <span>&#x2B22;</span>
                    
                    <br>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <span>&#x2B22;</span>
                      <br>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                        <span>&#x2B22;</span>
                      </div>      
                    </section> 
                    
                    <div id="circle1">
                      <div id="inner-cirlce1">
                        <h2> </h2>
                      </div>
                    </div>
                  
            </div>      
                  
                  
